In [17]:
!docker build --help | grep "Write the image ID to the file"

      --iidfile string          Write the image ID to the file

In [11]:
!docker run -it python:3.9 bash -c "pip list"

Package    Version
---------- -------
pip        22.0.4
setuptools 58.1.0
wheel      0.38.4
WARNING: You are using pip version 22.0.4; however, version 22.3.1 is available.
You should consider upgrading via the '/usr/local/bin/python -m pip install --upgrade pip' command.

In [15]:
import pandas as pd

In [4]:
from sqlalchemy import create_engine

In [5]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [6]:
engine.connect()

In [7]:
pd.read_sql("select count(*) from green_taxi_data where lpep_pickup_datetime >= date '2019-01-15' and lpep_dropoff_datetime < date '2019-01-16'", con = engine)

   count
0  20530

In [13]:
pd.read_sql('select Trip_distance, lpep_pickup_datetime, lpep_dropoff_datetime  from green_taxi_data order by 1 desc limit 1', con = engine)

   trip_distance lpep_pickup_datetime lpep_dropoff_datetime
0         117.99  2019-01-15 19:27:58   2019-01-15 22:59:01

In [9]:
pd.read_sql("select Passenger_count, count(*) from green_taxi_data where date(lpep_pickup_datetime) = date '2019-01-01' and Passenger_count in (2, 3) group by Passenger_count ", con = engine)

   passenger_count  count
0                2   1282
1                3    254

In [14]:
query = """
select zn_to."Zone", Tip_amount from green_taxi_data gt join zones zn_from on zn_from."LocationID" = gt."PULocationID"
join zones zn_to on zn_to."LocationID" = gt."DOLocationID"
where zn_from."Zone" = 'Astoria' order by Tip_amount desc limit 1
"""
pd.read_sql(query, con = engine)

                            Zone  tip_amount
0  Long Island City/Queens Plaza        88.0